{
	"useTabs": true,
	"endOfLine": "lf",
	"singleQuote": true,
	"trailingComma": "all",
	"semi": false,
	"bracketSpacing": true,
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./src/lib/styles/layout.css",
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
